common:
    lidar_topic:  "/drivers/top_lidar_origin"
    imu_topic:  "/drivers/imu_data"
    map_frame:  "map"
    body_frame:  "body"
    timedelay_lidar2imu: 0.0 # Time offset between lidar and IMU calibrated by other algorithms, e.g. LI-Init (can be found in README).

preprocess:
    lidar_type: 2                # 1 for Livox serials LiDAR, 2 for Velodyne LiDAR, 3 for ouster LiDAR, 
    scan_line: 16
    scan_rate: 10                # only need to be set for velodyne, unit: Hz,
    timestamp_unit: 0            # the unit of time/t field in the PointCloud2 rostopic: 0-second, 1-milisecond, 2-microsecond, 3-nanosecond.
    blind: 2
    det_range: 200.0

mapping:
    point_skip_num: 4
    # point_skip_num: 1            # for mapping, Increase accuracy 4 -> 1
    surf_frame_ds_res: 0.5       # In unstructured scenarios, smaller is more likely to degenerate
    max_iteration: 3
    ikdtree_resolution: 0.5      # In unstructured scenarios, smaller is more likely to degenerate
    lidar_model_search_range: 5
    cube_side_length: 10000
    runtime_log_enable: 0

    acc_cov: 0.1
    gyr_cov: 0.1
    b_acc_cov: 0.0001
    b_gyr_cov: 0.0001
    extrinsic_est_en:  false      # true: enable the online estimation of IMU-LiDAR extrinsic,
    # extrinsic_T: [ -0.00665, 0, -1.51277]
    # extrinsic_R: [ 1, 0, 0, 
    #                0, -1, 0, 
    #                0, 0, -1 ]
    extrinsic_T: [ 1.061, 0, 1.651 ]
    extrinsic_R: [ 1, 0, 0, 
                   0, 1, 0, 
                   0, 0, 1 ]

localization:
    gravity: [ 0.0, 0.0, -9.81 ]

publish:
    path_en:  true
    scan_publish_en:  true       # false: close all the point cloud output
    dense_publish_en: true       # false: low down the points number in a global-frame point clouds scan.

# ============relocalization_cfg============
relocalization_cfg:
    algorithm_type: "scan_context"
    # algorithm_type: "manually_set"

    # lidar extrinsic to imu
    lidar_ext/x: 1.061
    lidar_ext/y: 0
    lidar_ext/z: 1.651
    lidar_ext/roll: 0
    lidar_ext/pitch: 0
    lidar_ext/yaw: 0

scan_context:
    lidar_height: 2.183
    sc_dist_thres: 0.7

bnb3d:
    linear_xy_window_size: 5   # meter
    # linear_xy_window_size: 10   # meter
    linear_z_window_size: 0.5  # meter
    angular_search_window: 180  # degree 0~180
    pc_resolutions: [0.2, 0.3, 0.5]
    bnb_depth: 3
    min_score: 0.3
    enough_score: 0.7

    min_xy_resolution: 0.2
    min_z_resolution: 0.1
    min_angular_resolution: 5   # degree

    thread_num: 6
    filter_size_scan: 0.2
    debug_mode: false

ndt:
    step_size: 0.1
    resolution: 1

gicp:
    use_gicp: false
    filter_range: 80.0
    gicp_downsample: 0.1
    search_radius: 0.5
    teps: 1.0e-4
    feps: 0.001
    fitness_score: 0.3
