<launch>
<!-- Launch file for Localization -->

	<arg name="rviz" default="true" />

    <!-- <rosparam file="$(find fastlio_localization)/config/avia.yaml" command="load" /> -->
    <!-- <rosparam file="$(find fastlio_localization)/config/horizon.yaml" command="load" /> -->
    <!-- <rosparam file="$(find fastlio_localization)/config/velodyne.yaml" command="load" /> -->
    <!-- <rosparam file="$(find fastlio_localization)/config/ouster64.yaml" command="load" /> -->
    <!-- <rosparam file="$(find fastlio_localization)/config/mid360.yaml" command="load" /> -->
    <rosparam file="$(find fastlio_localization)/config/localization_dev.yaml" command="load" />
    <!-- <rosparam file="$(find fastlio_localization)/config/nclt.yaml" command="load" /> -->
    <!-- <rosparam file="$(find fastlio_localization)/config/UrbanLoco_HK.yaml" command="load" /> -->

    <node pkg="fastlio_localization" type="fastlio_localization_ros1" name="system" output="screen" respawn="true"/> 

    <node pkg="tf" type="static_transform_publisher" name="baselink_to_lidar" args="-1.12596381 -0.03317966 -1.9863546 0 0 0 1 /base_link /top_lidar 10" />

	<group if="$(arg rviz)">
		<!-- glbal map-->
		<!-- <arg name="map" default="/robot/data/map/globalmap.pcd" /> -->
		<arg name="map" default="$(find fastlio_localization)/PCD/globalmap.pcd" />
    	<node pkg="pcl_ros" type="pcd_to_pointcloud" name="map_publisher" args="$(arg map) 2 _frame_id:=map cloud_pcd:=map" output="screen"/>

		<node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fastlio_localization)/rviz_cfg/localization.rviz" />
	</group>

</launch>