<launch>
<!-- Launch file for Localization -->

	<arg name="rviz" default="true" />

	<!-- <param name="config_file" type="string" value="/config/avia.yaml" /> -->
	<!-- <param name="config_file" type="string" value="/config/horizon.yaml" /> -->
	<!-- <param name="config_file" type="string" value="/config/velodyne.yaml" /> -->
	<!-- <param name="config_file" type="string" value="/config/ouster64.yaml" /> -->
	<param name="config_file" type="string" value="/config/localization_dev.yaml" />

    <node pkg="fastlio_localization" type="fastlio_localization_ros1" name="system" output="screen" respawn="true"/> 

    <node pkg="tf" type="static_transform_publisher" name="baselink_to_lidar" args="-1.12596381 -0.03317966 -1.9863546 -0.0150008 0.0030467 0.0029566 /base_link /top_lidar 10" />

	<group if="$(arg rviz)">
		<!-- glbal map-->
		<arg name="map" default="$(find fastlio_localization)/PCD/globalmap.pcd" />
    	<node pkg="pcl_ros" type="pcd_to_pointcloud" name="map_publisher" args="$(arg map) 2 _frame_id:=map cloud_pcd:=map" output="screen"/>

		<node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fastlio_localization)/rviz_cfg/localization.rviz" />
	</group>

</launch>